.produto{
    background-color: var(--cor-primaria);
    border: 1px var(--cor-terciaria) solid;
    border-radius: 5px;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0.3em 0.5em;
}

.input{
    border-radius: 5px;
    border-color: var(--cor-terciaria);
    height: 50px;
}

.divQuantidade{
    display: flex;
    flex-direction: column;
    width: 3em;

    button{
        border: var(--cor-terciaria) 1px solid;

        padding: 0.2em;
        color: var(--cor-terciaria);
        background-color: var(--cor-primaria);
    }
}

.botao-quantidade{
    background-color: var(--cor-primaria);
    color: var(--cor-fonte);
    border-color: var(--cor-secundaria);
}

.aumenta-quantidade{
    border-radius: 5px 5px 0 0;   
}

.diminui-quantidade{
    border-radius: 0 0 5px 5px;
}

.fechar{
    background-color: var(--cor-terciaria);
    color: var(--cor-botao-fechar);
    border: none;
    border-radius: 2px;
    padding: 3px;
    margin: 0.5em;
}

